.custom_button {
  height: 32px;
  padding: 2px 5px;
  background: #eee;
  transition: 0.25s;
  border: none;
  border-radius: 4px;
  color: #999;
  :hover {
    background: #fff;
    cursor: pointer;
  }
}
